#life_1{
    padding-bottom: 40px;
    margin: auto;
    border-bottom: 2px solid rgb(198, 191, 191);
    width: 100%;
    cursor: pointer;
    justify-content: center;
    /* margin-left: 80px; */
}

#life_2{
    display: flex;
    text-align: center;
    gap: 20px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 42px;
    border-bottom: 2px solid rgb(198, 191, 191);
    width: 100%;
    cursor: pointer;
    justify-content: center;
    
}
.lifeImg{
    width: 100%;
}
#life_2_sub1{
    
    text-align: center;
    justify-content: space-between;
    width: 100%;    
}

#life_2_sub2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;   
    
}

.sub_img1{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(198, 191, 191);
    width: 100%;
    cursor: pointer;


}

.sub_img2{
    
    width: 100%;
    cursor: pointer;

}

.shop_now{
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
    width: 120px;
    justify-content: space-between;
    background-color: black;
    color: white;
    cursor: pointer;
}

#life_3{
    padding-bottom: 40px;
    margin: auto;
    border-bottom: 2px solid rgb(198, 191, 191);
    width: 100%;
    text-align: center;
    margin-top: 40px;
    /* margin-left: 80px; */
    justify-content: center;
}

#life_3_sub{
    display: flex;
    justify-content: space-between;

}

.life_3_img{
    height: 300px;
    cursor: pointer;
}

.p_style{
    font-size: 20px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}

.h_style{
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 50px;
}
