
  #big_container{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
   margin-top: 15px;
    border-bottom: 1px solid #bbb;

  }#cont1{
    /* border: 1px solid rgb(17, 0, 255); */
    /* margin-left: 20px; */
  }#anptherpart{
    /* border: 1px solid rgb(17, 0, 255); */

  }

  #space{
    margin-top: 15px;
  }

  #radio_box{
    margin-top: 25px;
    width: 30%;
    /* height: 100px; */
  }


#select{
    width: 80%;
    height: 40px;
    margin: 5px;
}
#input{
    margin: 5px;
    display: grid;
    width: 80%;
    height: 210px;
    gap: 10px;
}
#register{
    padding: 20px;
}

 
#logininput{
    display: grid;

    height: 80px;
    gap: 10px;
    margin-top: 25px;
}
#signbtn{
    background-color: black;
    color: aliceblue;
    width: 30%;
    height: 30px;
    margin-top: 20px;
}
#loginbtn{
    background-color: black;
    color: aliceblue;
    width: 30%;
    height: 30px;
    margin-top: 20px;
}
#vl {
    border-left: 1px solid grey;
    height: 730px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -21;
  }
  #big_box{
/* border: 1px solid green; */
margin: auto;
width: 92%;
}

