* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura-Medium", "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}

.container {
  width: 1250px;
  padding: 0;
  margin: auto;
}


